---
import { datocmsRequest } from '@lib/datocms';
import type { HomeQuery } from '@lib/types/datocms';
import query from './index.query.graphql';
import Layout from '@layouts/Default.astro';
import Blocks from '@blocks/Blocks.astro';
import PreviewModeSubscription from '@components/PreviewMode/PreviewModeSubscription.astro';
import ShareButton from '@components/ShareButton/ShareButton.astro';
import { locales } from '@lib/i18n';

export async function getStaticPaths() {
  return locales.map(locale => ({ params: { locale } }));
}

const { locale } = Astro.params;
const variables = { locale };
const { page } = await datocmsRequest<HomeQuery>({ query, variables: { locale } });
const pageUrls = locales.map(locale => ({ locale, pathname: `/${locale}/` }));
---
<Layout 
  pageUrls={pageUrls}
  seoMetaTags={page._seoMetaTags}
>
  <PreviewModeSubscription query={ query } variables={ variables }  />
  <h1>{page.title}</h1>
  <Blocks blocks={page.bodyBlocks} />
  <ShareButton />
</Layout>
