---
import Blocks from '@blocks/Blocks.astro';
import PreviewModeSubscription from '@components/PreviewMode/PreviewModeSubscription.astro';
import Layout from '@layouts/Default.astro';
import { datocmsRequest } from '@lib/datocms';
import type { HomePageQuery } from '@lib/datocms/types';
import { locales } from '@lib/i18n';
import { getHomeHref, type PageUrl } from '@lib/routing';
import query from './_index.query.graphql';

export async function getStaticPaths() {
  return locales.map((locale) => ({ params: { locale } }));
}

const { locale } = Astro.params;
const variables = { locale };
const { page } = await datocmsRequest<HomePageQuery /*, typeof prerender */>({ query, variables });
const pageUrls = locales.map((locale) => ({
  locale,
  pathname: getHomeHref({ locale }),
})) as PageUrl[];
---

<Layout
  pageUrls={pageUrls}
  seoMetaTags={page._seoMetaTags}
>
  <PreviewModeSubscription query={query} variables={variables} record={{ type: page.__typename, id: page.id }} />
  <h1>{page.title}</h1>
  <Blocks blocks={page.bodyBlocks} />
</Layout>
