---
import { datocmsRequest } from '@lib/datocms';
import type { HomePageQuery, HomePageRecord } from '@lib/types/datocms';
import type { PageUrl } from '@lib/types/page-url';
import { locales } from '@lib/i18n';
import Layout from '@layouts/Default.astro';
import Blocks from '@blocks/Blocks.astro';
import type { AnyBlock } from '@blocks/Blocks';
import PreviewModeSubscription from '@components/PreviewMode/PreviewModeSubscription.astro';
import ShareButton from '@components/ShareButton/ShareButton.astro';
import query from './_index.query.graphql';

export async function getStaticPaths() {
  return locales.map((locale) => ({ params: { locale } }));
}

const { locale } = Astro.params;
const variables = { locale };
const { page } = (await datocmsRequest<HomePageQuery>({
  query,
  variables,
})) as { page: HomePageRecord };
const pageUrls = locales.map((locale) => ({
  locale,
  pathname: `/${locale}/`,
})) as PageUrl[];
---

<Layout pageUrls={pageUrls} seoMetaTags={page._seoMetaTags}>
  <PreviewModeSubscription query={query} variables={variables} />
  <h1>{page.title}</h1>
  <Blocks blocks={page.bodyBlocks as AnyBlock[]} />
  <ShareButton />
</Layout>
