---
import type {
  MenuItemExternalFieldsFragment,
  MenuItemGroupFieldsFragment,
  MenuItemInternalFieldsFragment,
} from '@lib/datocms/types';
import { t } from '@lib/i18n';
import LinkToRecord from '@components/LinkToRecord/LinkToRecord.astro';
import Icon from '@components/Icon/Icon.astro';
import Link from '@components/Link/Link.astro';
import { getItemPopoverId } from './AppMenu';

export interface Props {
  item: MenuItem;
}
const { item, ...props } = Astro.props as Props & Record<string, unknown>;
const popoverId = getItemPopoverId(item.id);
const hasItems = Array.isArray(item.items) && item.items.length > 0;
const showPopoverButton = 'data-menu-item' in props && hasItems;

type MenuItem = (
  | MenuItemExternalFieldsFragment
  | MenuItemInternalFieldsFragment
  | MenuItemGroupFieldsFragment
) & {
  items?: MenuItem[];
};

const isInternal = item.__typename === 'MenuItemInternalRecord';
const title = isInternal
  ? item.internalTitle || item.internalLink.title
  : item.title;
---

<li {...props}>
  {
    item.__typename === 'MenuItemInternalRecord' ? (
      <LinkToRecord record={item.internalLink}>{title}</LinkToRecord>
    ) : item.__typename === 'MenuItemExternalRecord' ? (
      <Link href={item.link} openInNewTab>
        {item.title}
      </Link>
    ) : (
      item.title
    )
  }
  {
    showPopoverButton && (
      <button
        type="button"
        popovertarget={popoverId}
        aria-label={`${t('open_submenu_for')} ${title}`}
        data-submenu-button
        class="submenu-button"
      >
        <Icon name="chevron-down" />
      </button>
    )
  }
  <slot />
</li>

<style>
  .submenu-button :global(svg) {
    transition: transform 0.2s ease;
  }

  li:has([popover]:popover-open) .submenu-button :global(svg) {
    transform: rotate(180deg);
  }
</style>
