---
import { getEmbedText } from '../index';

const { context, data, url } = Astro.props;
const placeholderText = getEmbedText(data);
const aspectRatio = data.width && data.height ? data.width / data.height : null;
const maxWidth = data.width ? `${data.width}px` : '100%';
const loadingStrategy = (context?.location === 'header' || context?.location === 'body' && context?.index < 3) ? 'eager' : 'lazy';
---

<a href={url} rel='noreferrer noopener' target='_blank'>
  {
    data.thumbnail_url ? (
      <img
        alt={placeholderText}
        src={data.thumbnail_url}
        loading={loadingStrategy}
        style={{
          aspectRatio,
          maxWidth,
        }}
      />
    ) : (
      <div>
        {data.title ? placeholderText : `${data.provider_name}: ${url}`}
      </div>
    )
  }
</a>

<style>
  a {
    display: block;
    background-color: #ebebeb;
  }
  img {
    display: block;
  }
  div {
    padding: 10px;
    word-break: break-word;
  }
</style>
