---
import Layout from '@layouts/Default.astro';
import ExternalLink from '@components/ExternalLink.astro';
import SwitchInput from '@components/SwitchInput/SwitchInput.astro';
import '@assets/a11y.css';

const groups = [
  {
    key: 'functional',
    title: 'Functional',
    items: [
      {
        key: 'hs-locale',
        title: 'Preferred language',
        text: 'Remembers your preferred language.',
        default: true,
        url: false,
        cookies: [
          {
            key: 'HEAD_START_LOCALE',
            url: false,
          },
        ],
      },
    ],
  },
  {
    key: 'external-content',
    title: 'External content',
    items: [
      {
        key: 'x-twitter',
        title: 'X (Twitter)',
        text: 'Embed tweets. Includes analytics.',
        default: false,
        url: 'https://twitter.com/en/privacy',
        cookies: [
          {
            key: 'metrics_token',
            url: 'https://cookiedatabase.org/cookie/twitter/metrics_token/',
          }
        ],
      },
      {
        key: 'youtube',
        title: 'YouTube',
        text: 'Embed videos. Includes analytics.',
        default: false,
        url: false,
        cookies: [],
      },
    ],
  },
  {
    key: 'statistics',
    title: 'Statistics',
    items: [
      {
        key: 'plausible',
        title: 'Plausible',
        text: 'Collects anonymous data about website usage.',
        default: false,
        url: false,
        cookies: [],
      },
      {
        key: 'google-analytics',
        title: 'Google Analytics',
        text: 'Service is mostly used for website statistics.',
        url: 'https://policies.google.com/privacy',
        default: false,
        cookies: [
          {
            key: '_ga',
            url: 'https://cookiedatabase.org/cookie/google-analytics/_ga/',
          },
          {
            key: '_gid',
            url: 'https://cookiedatabase.org/cookie/google-analytics/_gid/',
          },
          {
            key: '_ga_*',
            url: 'https://cookiedatabase.org/cookie/google-analytics/_ga_/',
          },
        ],
      },
    ],
  },
];
---

<Layout pageUrls={[]} seoMetaTags={[]}>
  <form is="consent-form">
    <h1>[ Consent form ]</h1>
    {
      groups.map((group) => (
        <consent-form-group>
          <fieldset>
            <legend class="a11y-sr-only">{group.title}</legend>
            <details>
              <summary>
                <span aria-hidden>{group.title}</span>
                <label for={`consent:${group.key}`} class="a11y-sr-only">
                  {group.title}
                </label>
                <SwitchInput 
                  id={`consent:${group.key}`}
                  checked={group.items.every((item) => item.default)}
                  hidden
                />
              </summary>
              <ul>
                {group.items.map((item) => (
                  <li>
                    <div>
                      <label for={`consent:${group.key}:${item.key}`}>
                        {item.title}
                      </label>
                      <p id={`consent:${group.key}:${item.key}:hint`}>
                        {item.text}
                        { item.url && ( /* @todo: translate */
                          <ExternalLink href={item.url as string}>more info</ExternalLink>
                        ) }
                        <br/>
                        { item.cookies.length
                          ? (
                            <small>Cookies: { /* @todo: translate */ }
                              { item.cookies.map((cookie, index) => (<>
                                { cookie.url 
                                  ? <ExternalLink href={cookie.url as string}>
                                    <code>{cookie.key}</code>
                                  </ExternalLink>
                                  : <code>{cookie.key}</code>
                                }
                                { index < item.cookies.length - 1 && ', ' }
                              </>))}
                            </small>
                          ) : (<small>(No cookies)</small>) /* @todo: translate */
                        }
                      </p>
                    </div>
                    <SwitchInput
                      id={`consent:${group.key}:${item.key}`}
                      aria-describedby={`consent:${group.key}:${item.key}:hint`}
                      name={`${group.key}:${item.key}`}
                      checked={item.default}
                    />
                  </li>
                ))}
              </ul>
            </details>
          </fieldset>
        </consent-form-group>
      ))
    }
    <button type="submit">[ Save preferences ]</button>
  </form>
</Layout>

<script src="./ConsentForm.client.ts"></script>

<style>
  form {
    max-width: 720px;
  }
  fieldset {
    padding: 0;
  }
  summary,
  li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  summary {
    align-items: center;
  }
  summary, 
  li {
    padding-inline-end: 10px;
  }
  summary > *:first-child,
  li > *:first-child {
    display: block;
    width: 100%;
    /* background: yellow; */
  }
  summary > span {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }
  label {
    display: block;
    font-weight: bold;
    cursor: pointer;
  }
  li p {
    margin-block: .2em;
  }
  li a {
    color: currentColor;
  }
</style>
