---
import Layout from '@layouts/Default.astro';
import ExternalLink from '@components/ExternalLink.astro';
import SwitchInput from '@components/SwitchInput/SwitchInput.astro';
import '@assets/a11y.css';
import { groups } from '@components/ConsentManager/config';
---

<Layout pageUrls={[]} seoMetaTags={[]}>
  <form is="consent-form">
    <h1>[ Consent form ]</h1>
    {
      groups.map((group) => (
        <consent-form-group>
          <fieldset>
            <legend class="a11y-sr-only">{group.title}</legend>
            <details>
              <summary>
                <span aria-hidden>{group.title}</span>
                <label for={`consent:${group.key}`} class="a11y-sr-only">
                  {group.title}
                </label>
                <SwitchInput 
                  id={`consent:${group.key}`}
                  checked={group.items.every((item) => item.default)}
                  hidden
                />
              </summary>
              <ul>
                {group.items.map((item) => (
                  <li>
                    <div>
                      <label for={`consent:${group.key}:${item.key}`}>
                        {item.title}
                      </label>
                      <p id={`consent:${group.key}:${item.key}:hint`}>
                        {item.text}
                        { item.url && ( /* @todo: translate */
                          <ExternalLink href={item.url as string}>more info</ExternalLink>
                        ) }
                        <br/>
                        { item.cookies.length
                          ? (
                            <small>Cookies: { /* @todo: translate */ }
                              { item.cookies.map((cookie, index) => (<>
                                { cookie.url 
                                  ? <ExternalLink href={cookie.url as string}>
                                    <code>{cookie.key}</code>
                                  </ExternalLink>
                                  : <code>{cookie.key}</code>
                                }
                                { index < item.cookies.length - 1 && ', ' }
                              </>))}
                            </small>
                          ) : (<small>(No cookies)</small>) /* @todo: translate */
                        }
                      </p>
                    </div>
                    <SwitchInput
                      id={`consent:${group.key}:${item.key}`}
                      aria-describedby={`consent:${group.key}:${item.key}:hint`}
                      name={ item.key }
                      checked={item.default}
                    />
                  </li>
                ))}
              </ul>
            </details>
          </fieldset>
        </consent-form-group>
      ))
    }
    <button type="submit">[ Save preferences ]</button>
  </form>
</Layout>

<script src="./ConsentForm.client.ts"></script>

<style>
  form {
    max-width: 720px;
  }
  fieldset {
    padding: 0;
  }
  summary,
  li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  summary {
    align-items: center;
  }
  summary, 
  li {
    padding-inline-end: 10px;
  }
  summary > *:first-child,
  li > *:first-child {
    display: block;
    width: 100%;
    /* background: yellow; */
  }
  summary > span {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }
  label {
    display: block;
    font-weight: bold;
    cursor: pointer;
  }
  li p {
    margin-block: .2em;
  }
  li a {
    color: currentColor;
  }
</style>
