---
import type { IconName } from '@assets/icon-sprite';

interface Props {
  name: IconName;
  title?: string;
  description?: string;
  [x:string]: any;
}

const { name, title, description, ...props } = Astro.props;
const attributes = { 
  ...props,
  role: props.role ? props.role : title ? 'graphics-symbol' : 'presentation',
};
---

<svg { ...attributes } data-icon={name} aria-hidden={!title}>
  { title && <title>{title}</title> }
  <use href={`#${name}`} xlink:href={`#${name}`} />
  { description && <desc>{description}</desc> }
</svg>

<style>
  svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    color: currentColor;
  }
</style>