---
import { t } from '~/lib/i18n';
import {
  hasValidQuery,
  minQueryLength,
  getSearchPathname,
  queryParamName,
} from '~/lib/search';

interface Props {
  query: string;
  blockId?: string;
}
const { query, blockId } = Astro.props;
---

<form method="GET" action={getSearchPathname()} role="search">
  {
    query && !hasValidQuery(query) && (
      <a
        id={`search-${blockId}-hint`}
        href={`#search-${blockId}`}
        style="display:block;"
      >
        {t('search_query_invalid', { query, minQueryLength })}
      </a>
    )
  }
  <label for={`search-${blockId}`}>{t('search_label')}</label>
  <input
    type="search"
    id={`search-${blockId}`}
    name={queryParamName}
    value={query}
    placeholder={t('search_label')}
    minlength={minQueryLength}
    aria-describedby={`search-${blockId}-hint`}
    required
  />
  <button type="submit">{t('search')}</button>
</form>
