---
import type { HTMLAttributes } from 'astro/types';
import type { SiteLocale, VariableRecord } from '~/lib/datocms/types';
import { getLocale } from '~/lib/i18n';
import { getHref, type RecordRoute } from '~/lib/routing';
import Link from '~/components/Link/Link.astro';
import LinkToFile from '~/components/LinkToFile/LinkToFile.astro';

export type Props = Omit<HTMLAttributes<'a'>, 'href'> & {
  openInNewTab?: boolean;
  record: RecordRoute | VariableRecord;
};

const { record, openInNewTab, ...props } = Astro.props;

const locale = getLocale() as SiteLocale;
const href = getHref({ locale, record: record as RecordRoute });
---

{
  record.__typename === 'FileRecord' ? (
    <LinkToFile {record} {...props}>
      <slot>{record.title}</slot>
    </LinkToFile>
  ) : record.__typename === 'VariableRecord' ? (
    <span data-variable={record.title}>{record.value}</span>
  ) : (
    <Link {href} {openInNewTab} {...props}>
      <slot>{record.title}</slot>
    </Link>
  )
}
