---
import type { EmbedBlockFragment } from '@lib/types/datocms';
import type { BlockContext } from '@blocks/Blocks';
import { getOEmbedProvider } from './index';
import type { OEmbedAny } from './index';
import BasicEmbed from './embeds/Basic.astro';
import DefaultEmbed from './embeds/Default.astro';
import TwitterEmbed from './embeds/Twitter.astro';
import VimeoEmbed from './embeds/Vimeo.astro';
import YouTubeEmbed from './embeds/YouTube.astro';

interface Props {
  block: EmbedBlockFragment;
  context: BlockContext;
}
const { block, context } = Astro.props;
const { data, url }: { data: OEmbedAny; url: string } = block;
const providerName = (data || getOEmbedProvider(url))?.provider_name;
const isProvider = (name: string) =>
  providerName?.toLowerCase() === name.toLowerCase();
---

<div class='embed-block'>
  {
    data && data.html ? (
      isProvider('Twitter') ? (
        <TwitterEmbed {data} {url} {context} />
      ) : isProvider('Vimeo') ? (
        <VimeoEmbed {data} {url} {context} />
      ) : isProvider('YouTube') ? (
        <YouTubeEmbed {data} {url} {context} />
      ) : (
        <DefaultEmbed {data} {url} {context} />
      )
    ) : (
      <BasicEmbed {data} {url} {context} />
    )
  }
</div>

<style>
  .embed-block {
    margin-block: 20px;
  }
</style>
