---
import Layout from '@layouts/Default.astro';
import Blocks from '@blocks/Blocks.astro';
import PreviewModeSubscription from '@components/PreviewMode/PreviewModeSubscription.astro';
import { getCollection } from '@lib/content';

export async function getStaticPaths() {
  const pages = await getCollection('Pages', undefined, null);
  return pages.map(({ 
    data: page,
    subscription,
  }) => ({
    params: { locale: page.meta.locale, path: page.meta.path },
    props: { page, subscription },
  }));
}

const { page, subscription } = Astro.props;
const { breadcrumbs, pageUrls } = page.meta;
---

<Layout
  breadcrumbs={breadcrumbs}
  pageUrls={pageUrls}
  seoMetaTags={page._seoMetaTags}
>
  <PreviewModeSubscription {...subscription} />
  <h1>{page.title}</h1>
  <Blocks blocks={page.bodyBlocks} />
</Layout>
