---
import Blocks from '@blocks/Blocks.astro';
import PreviewModeSubscription from '@components/PreviewMode/PreviewModeSubscription.astro';
import Layout from '@layouts/Default.astro';
import { getCollection, getEntry } from '@lib/content';

export async function getStaticPaths() {
  // Fetch all locales by passing locale `null` and filter `undefined`.
  const pages = await getCollection('Pages', undefined, null);
  return pages.map(({ data: page }) => ({
    params: { locale: page.meta.locale, path: page.meta.path },
  }));
}

// Load as an entry so this route can also be a server route in preview mode.
// @see /docs/preview-mode.md
const { locale, path } = Astro.params;
const entry = await getEntry('Pages', path);
if (!entry) {
  return Astro.rewrite(`/404/?locale=${locale}`);
}

const {
  data: { meta, ...page },
  subscription,
} = entry;
const { breadcrumbs, pageUrls, recordId, recordType } = meta;

const canonicalUrl = pageUrls.find((url) => url.locale === meta.locale)?.pathname;
if (canonicalUrl && Astro.url.pathname !== canonicalUrl) {
  return Astro.redirect(canonicalUrl);
}
---

<Layout
  breadcrumbs={breadcrumbs}
  pageUrls={pageUrls}
  seoMetaTags={page._seoMetaTags}
  
>
  <PreviewModeSubscription
    {...subscription}
    record={{ type: recordType, id: recordId }}
  />
  <h1>{page.title}</h1>
  <Blocks blocks={page.bodyBlocks} />
</Layout>