---
import { datocmsRequest } from '@lib/datocms';
import { getPageHref } from '@lib/routing/';
import { getPageSlugFromPath, getParentPages } from '@lib/routing/page';
import type { PageQuery, SiteLocale } from '@lib/datocms/types';
import type { PageUrl } from '@lib/seo';
import Layout from '@layouts/Default.astro';
import Blocks from '@blocks/Blocks.astro';
import type { AnyBlock } from '@blocks/Blocks';
import { formatBreadcrumb } from '@components/Breadcrumbs';
import PreviewModeSubscription from '@components/PreviewMode/PreviewModeSubscription.astro';
import query from './_index.query.graphql';
export { getStaticPaths } from './_index';

type Params = {
  locale: SiteLocale;
  path: string;
};

const { locale, path } = Astro.params as Params;
const variables = { locale, slug: getPageSlugFromPath(path) };
const { page } = (await datocmsRequest<PageQuery>({ query, variables })) as {
  page: NonNullable<PageQuery['page']>; // Only NonNullable when statically generated. Handle as a 404 when this is a server route!
};
const breadcrumbs = [...getParentPages(page), page].map((page) =>
  formatBreadcrumb({
    text: page.title,
    href: getPageHref({ locale, record: page }),
  })
);
const pageUrls = (page._allSlugLocales || []).map(({ locale }) => ({
  locale: locale as SiteLocale,
  pathname: getPageHref({ locale: locale as SiteLocale, record: page }),
})) as PageUrl[];
---

<Layout
  breadcrumbs={breadcrumbs}
  pageUrls={pageUrls}
  seoMetaTags={page._seoMetaTags}
>
  <PreviewModeSubscription query={query} variables={variables} />
  <h1>{page.title}</h1>
  <Blocks blocks={page.bodyBlocks as AnyBlock[]} />
</Layout>
